{% extends "layout.html" %}
{% block content %}
    <spam>Total posts: {{count}}</spam>
    {% for post in posts %}
        <article class="media content-section">
            <!--<image class="rounded-circle article-img" src="C:\Users\sreen\OneDrive\Desktop\JoiningSubmissionsCG\Personal_Documents\Photo.jpg">-->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{post.author.username}}</a>
                    <small class="text-muted">{{post.date_posted}}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{post.title}}</a></h2>
                <p class="article-content">{{post.content}}</p>
            </div>
        </article>
        <hr>
    {% endfor %}
{% endblock content %}